<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Admin Dashboard</h1>
        <!-- Admin actions -->
        <h2>Admin Actions</h2>
        <ul>
            <li><a href="/manage-users">Manage Users</a></li>
            <li><a href="/manage-candidatese">Manage Candidates</a></li>
            <!-- Add more admin actions as needed -->
        </ul>
        <!-- Other actions -->
        <a href="/election-result">View Election Result</a>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>
